@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.aboveHeader {
  max-width: 100%;
  height: 3rem;
  top: 0px;
  background-color: #00579c;
  background-image: linear-gradient(to right, #00579c, #6495ed);
  transition: 0.3s ease;
  padding: 1rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .aboveHeader {
    display: none;
  }
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.col p {
  color: white;
  font-size: 12px;
}

.aboveHeader .icons {
  color: white;
  float: right;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1.3rem;
  margin-right: 5rem;
}

.aboveHeader .icons i {
  padding: 5px;
}

header {
  position: sticky;
  top: 0px;
  background-color: white;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  transition: all 80ms ease;
}

header.scrolled {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

section {
  position: relative;
  height: calc(90vh - 3rem);
  width: 100%;
  background: url("bg1.jpg") no-repeat top center / cover;
  animation: slide 15s infinite;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  section {
    height: auto;
  }
  .overlay {
    height: auto;
    margin-left: -4rem;
  }

  .overlay h1 {
    margin-top: 5rem !important;
    font-size: 2.5rem !important;
    display: inline-block !important;
    margin-left: 3.5rem;
    width: 80%;
    line-height: 3rem !important;
  }

  .overlay p {
    margin-left: 3.5rem;
    color: black !important;
    padding-top: 1rem;
    width: 80%;
    font-size: 0.9rem;
    opacity: 0.9;
  }

  .overlay .solid {
    margin-left: 3.7rem;
  }

  .overlay .btn {
    margin-bottom: 4rem;
  }

  .nav-btn {
    margin-top: -3rem;
    height: 100vh !important;
  }

  .nav-link:hover > a {
    color: white !important;
  }

  .nav-btn .log-sign {
    width: 100%;
  }

  .nav-btn .log-sign .btn {
    display: none;
  }
}

@keyframes slide {
  0% {
    background-image: url("bg1.jpg");
  }
  33% {
    background-image: url("slide2.jpg");
  }
  67% {
    background-image: url("slide3.jpg");
  }
}

.btnlist {
  margin-left: 2.2rem;
  margin-top: 1.5rem;
}

.overlay h1 {
  z-index: 1;
  margin-top: 8rem;
  font-size: 4rem;
  display: inline-block !important;
  padding-left: 2.5rem;
  line-height: 4rem;
}

.overlay p {
  padding-left: 2.5rem;
  color: rgb(105, 100, 100);
  padding-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.9;
}

.container {
  max-width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  position: relative;
  height: 6rem;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: -15em;
}

.nav-btn {
  flex: 3;
  display: flex;
}

.nav-links {
  flex: 2;
}

.log-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo {
  color: #181818;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
  cursor: pointer;
}

.logo span {
  font-weight: 300;
}

.logo-container:hover {
  opacity: 0.7;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  line-height: 1;
  margin: 0 0.2rem;
  transition: 0.3s ease;
  text-transform: uppercase;
}

.btn.solid {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  color: #413f3f;
  border: none;
  transition: 0.3s ease;
}

.btn.solid:hover {
  background-color: #00579c;
  background-image: linear-gradient(to right, #00579c, #6495ed);
  transition: all 800ms ease;
  color: white !important;
}

.btn.transparent {
  color: white !important;
  background: #00579c;
  transition: 0.3s ease;
}

.btn.transparent:hover {
  background-color: #fff !important;
  background-image: none !important;
  color: #413f3f !important;
  transition: all 800ms ease !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.nav-links > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.nav-link {
  position: relative;
}

.nav-link > a {
  line-height: 3rem;
  color: #413f3f;
  padding: 0 1.3rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  justify-content: space-between;
  transition: 0.5s;
  max-width: 100%;
}

.nav-link > a > i {
  margin-left: 0.2rem;
}

.nav-link:hover > a {
  color: rgb(56, 165, 238, 0.5);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 1.5rem;
  width: 10rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.dropdown ul {
  position: relative;
}

.dropdown-link > a {
  display: flex;
  background-color: #fff;
  color: #3498db;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

.dropdown-link:hover > a {
  background-color: #3498db;
  color: #fff;
}

.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid #efefef;
}

.dropdown-link i {
  transform: rotate(-90deg);
}

.dropdown-link:first-child:hover ~ .arrow {
  background-color: #3498db;
}

.dropdown-link {
  position: relative;
}

.dropdown.second {
  top: 0;
  left: 100%;
  padding-left: 0.8rem;
  cursor: pointer;
  transform: translateX(10px);
}

.dropdown.second .arrow {
  top: 10px;
  left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(46, 42, 42);
  position: relative;
  z-index: 1001;
  transition: 0.5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: rgb(46, 42, 42);
  border-radius: 3px;
  transition: 0.5s;
}

.hamburger-menu div:before {
  transform: translateY(-7px);
}

.hamburger-menu div:after {
  transform: translateY(7px);
}

#check {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div {
  background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
  transform: translateY(0) rotate(45deg);
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 920px) {
  .hamburger-menu-container {
    display: flex;
  }

  #check {
    display: block;
  }

  .nav-btn {
    position: fixed;
    height: calc(100vh - 3rem);
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: #69bde7;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: 0.65s;
  }

  #check:checked ~ .nav-btn {
    transform: translateX(0);
  }

  #check:checked ~ .nav-btn .nav-link,
  #check:checked ~ .nav-btn .log-sign {
    animation: animation 0.5s ease forwards var(--i);
  }

  .nav-links {
    flex: initial;
    width: 100%;
  }

  .nav-links > ul {
    flex-direction: column;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link > a {
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  .nav-link:hover > a {
    transform: scale(1);
    background-color: #50a9d6;
  }

  .dropdown,
  .dropdown.second {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background-color: #3183ac;
    display: none;
  }

  .nav-link:hover > .dropdown,
  .dropdown-link:hover > .dropdown {
    display: block;
  }

  .nav-link:hover > a > i,
  .dropdown-link:hover > a > i {
    transform: rotate(360deg);
  }

  .dropdown-link > a {
    background-color: transparent;
    color: #fff;
    padding: 1.2rem 2rem;
    line-height: 1;
  }

  .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 3rem;
  }

  .dropdown.second .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 4rem;
  }

  .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none;
  }

  .arrow {
    z-index: 1;
    background-color: #69bde7;
    left: 10%;
    transform: scale(1.1) rotate(45deg);
    transition: 0.5s;
  }

  .nav-link:hover .arrow {
    background-color: #50a9d6;
  }

  .dropdown .dropdown .arrow {
    display: none;
  }

  .dropdown-link:hover > a {
    background-color: #3a91bd;
  }

  .dropdown-link:first-child:hover ~ .arrow {
    background-color: #50a9d6;
  }

  .nav-link > a > i {
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: 0.7s;
  }

  .dropdown i {
    font-size: 1rem;
    transition: 0.7s;
  }

  .log-sign {
    flex: initial;
    width: 100%;
    padding: 1.5rem 1.9rem;
    justify-content: flex-start;
    opacity: 0;
    transform: translateY(15px);
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .slide1,
  .slide2,
  .slide3 {
    width: 83% !important;
    margin-top: 35rem;
    margin-left: -5.5rem;
    height: 30% !important;
  }
  .middle {
    height: 150vh !important;
    margin-left: -1rem;
  }
  .middle h2 {
    font-size: 2.2rem !important;
    margin-bottom: 1rem;
    line-height: 2.6rem;
  }
  .middle h5 {
    font-size: 1rem !important;
  }
}

.middle {
  position: relative;
  height: 90vh;
  width: 100%;
  background-image: linear-gradient(white, #e6e6e6);
}

.middle h2 {
  font-size: 2.5rem;
  margin-top: 8rem;
  margin-left: 3rem;
}
.middle h5 {
  margin-left: 3rem;
  width: 80%;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: -0.5rem;
}

.middle p {
  color: black;
  margin-left: 3rem;
  width: 80%;
  color: rgb(31, 30, 30);
  padding-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.9;
}

.middle .btn {
  margin-left: 3rem;
  margin-top: 2rem;
}

.slide1,
.slide2,
.slide3 {
  position: absolute;
  width: 40%;
  height: 60%;
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.12);
}

.slide1 {
  background-image: url("sliderpic1.png");
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade1 12s infinite;
}

.slide2 {
  background-image: url("sliderpic2.png");
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade2 12s infinite;
}

.slide3 {
  background-image: url("sliderpic4.png");
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade3 12s infinite;
}

@keyframes fade1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slider {
  margin-top: 8.3rem;
  margin-left: 8rem;
  border-radius: 10px;
}
.card {
  overflow: hidden;
  position: relative;
  margin-left: 2rem;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  transition: ease 1s;
}

.card:hover {
  opacity: 0.7;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.card img {
  max-width: 100%;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .cardlist h4 {
    padding-left: 1.5rem !important;
    font-size: 2.2rem;
  }

  .cardlist .leftext {
    margin-left: 1.5rem !important;
    width: 80% !important;
  }

  .cardlist .card {
    margin-left: -7rem !important;
    max-width: 80%;
    margin-bottom: 1.5rem;
  }

  .cardlist .explore {
    width: 100%;
    padding-left: 1.5rem !important;
  }
}

.cardlist {
  background-image: linear-gradient(#e6e6e6, white);
  max-width: 100%;
}

.cardlist h4 {
  padding-left: 8.4rem;
  font-size: 2.2rem;
}

.card-heading h3 {
  font-weight: 600;
  font-size: 17px;
  text-align: left;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: -2rem;
}

.card-txt p {
  text-align: left;
}

.card-btn {
  border: none;
  float: left;
  margin-left: 1rem;
  background-color: white;
}

.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .testimonials:after {
    background: none !important;
  }

  .testimonials h4 {
    padding-left: 1.5rem !important;
    font-size: 1.5rem !important;
    display: none;
  }
  .testimonials h5 {
    display: block !important;
    padding-left: 1.5rem !important;
    font-size: 1.5rem !important;
    margin-top: 3rem;
  }

  .testimonials h4 img {
    width: 40% !important;
    padding-top: 0rem !important;
  }

  .testimonials .leftpara {
    width: 80% !important;
    margin-left: 1.5rem !important;
  }

  .testimonials .wrapper {
    max-width: 85% !important;
    padding-left: -0rem !important;
  }

  .testimonials .explore p {
    margin-left: -6.5rem !important;
  }

  .testimonials .explore p img {
    width: 45% !important ;
  }
}

.testimonials {
  position: relative;
  height: auto;
  padding-bottom: 5rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.testimonials:after {
  content: "";
  background: url("gradianttoptobottom.jpg");
  opacity: 0.4;
  top: 0;
  left: 0;
  background-size: 100%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.testimonials h4 {
  padding-left: 8.4rem;
  font-size: 2.2rem;
  margin-top: 5rem;
}

.testimonials h4 img {
  margin-bottom: -1.2rem;
}

.explore p:hover {
  opacity: 0.5;
}

.testimonials .wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  padding-left: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.testimonials .wrapper .box {
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.testimonials .wrapper .box i.quote {
  font-size: 20px;
  color: #00579c;
}
.testimonials .wrapper .box .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .info .name {
  font-weight: 600;
  font-size: 17px;
}
.box .info .job {
  font-size: 16px;
  font-weight: 500;
  color: #00579c;
}
.box .info .stars {
  margin-top: 2px;
}
.box .info .stars i {
  color: #00579c;
}
.box .content .image {
  height: 75px;
  width: 75px;
  padding: 3px;
  color: #00579c;
  border-radius: 50%;
}
.content .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box:hover .content .image img {
  border-color: #fff;
}

@media (max-width: 1045px) {
  .testimonials .wrapper .box {
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .testimonials .wrapper .box {
    width: 100%;
    margin-left: -1rem;
  }
}

.explore p img {
  margin-bottom: -1.8rem;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .questions h4 {
    padding-left: 1.5rem !important;
    margin-top: 3rem !important;
    font-size: 1.5rem !important;
  }

  .questions .leftques {
    margin-left: 1.5rem !important;
    width: 70% !important;
  }

  .questions .wrapper {
    max-width: 95% !important;
    padding-left: 1.5rem !important;
  }

  .questions .wrapper label span {
    width: 80%;
  }
  .calltoaction {
    display: none;
  }
  .questions {
    height: auto !important;
    padding-bottom: 4rem;
  }

  .questions .explore {
    padding-left: 1.9rem !important;
  }
}

.questions {
  position: relative;
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: linear-gradient(white, #e6e6e6);
}

.questions h4 {
  margin-top: 6rem;
  padding-left: 8.4rem;
  font-size: 2.2rem;
}

.wrapper {
  max-width: 93%;
  padding: 0 20px;
}
.wrapper .parent-tab,
.wrapper .child-tab {
  margin-bottom: 8px;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
}
.wrapper .parent-tab label,
.wrapper .child-tab label {
  background-color: #00579c;
  background-image: linear-gradient(to right, #00579c, #6495ed);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  z-index: 99;
  transition: all 0.3s ease;
}
.wrapper .parent-tab label:hover {
  background-color: #125d9b;
  background-image: linear-gradient(to right, #0f5d9c, #8eaee9);
}
.parent-tab input:checked ~ label,
.child-tab input:checked ~ label {
  border-radius: 3px 3px 0 0;
  background-color: #125d9b;
  background-image: linear-gradient(to right, #0f5d9c, #8eaee9);
}
.wrapper label span {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0 -1px 1px #0056b3;
}
.wrapper .child-tab label span {
  font-size: 17px;
}
.parent-tab label .icon {
  position: relative;
  height: 30px;
  width: 30px;
  font-size: 15px;
  color: #007bff;
  display: block;
  background: #fff;
  border-radius: 50%;
  text-shadow: 0 -1px 1px #0056b3;
}
.wrapper .child-tab label .icon {
  height: 27px;
  width: 27px;
}
.parent-tab label .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.parent-tab input:checked ~ label .icon i:before,
.child-tab input:checked ~ label .icon i:before {
  content: "\f068";
}
.wrapper .parent-tab .content,
.wrapper .child-tab .sub-content {
  max-height: 0px;
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 3px 3px;
  transition: all 0.4s ease;
}
.parent-tab input:checked ~ .content,
.child-tab input:checked ~ .sub-content {
  max-height: 100vh;
}
.tab-3 input:checked ~ .content {
  padding: 15px 20px;
}
.parent-tab .content p,
.child-tab .sub-content p {
  padding: 15px 20px;
  font-size: 16px;
}
.child-tab .sub-content p {
  font-size: 15px;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.calltoaction {
  position: relative;
  height: 45vh;
  width: 100%;
  padding-top: -5rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.calltoaction:after {
  content: "";
  background: url("calltoaction.jpg");
  opacity: 0.9;
  top: 0;
  left: 0;
  background-size: cover;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.calltoaction h3 {
  font-size: 2.2rem;
  color: white;
  padding-top: 3.5rem;
  padding-bottom: 2rem;

  font-weight: 400;
  width: 80%;

  margin-left: auto;
  margin-right: auto;
}

.badges {
  position: relative;
  height: 40vh;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: -4rem;
}

.badges img {
  max-width: 100%;
}

footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: white;
  background-color: black;
}

.footer > * {
  flex: 1 100%;
}

.footer-left {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer-left .logo {
  width: 50%;
  color: white;
}

footer h2 {
  font-weight: 600;
  font-size: 17px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}
.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  opacity: 0.7;
}

.footer-right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}

.footer-right > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  color: #999999;
}

.footer-bottom {
  text-align: center;
  color: #999999;
  padding-top: 50px;
}

.footer-left p {
  padding-right: 20%;
  color: #999999;
}

.socials a {
  background: #364a62;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  transition: 1s ease;
  margin-top: 1rem;
}

.socials a:hover {
  opacity: 0.5;
}

.socials a i {
  color: #e7f2f4;
  padding: 10px 12px;
  font-size: 20px;
}

@media screen and (min-width: 600px) {
  .footer-right > * {
    flex: 1;
  }
  .footer-left {
    flex: 1 0px;
  }
  .footer-right {
    flex: 2 0px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 15px;
  }
  main {
    font-size: 55px;
  }
}

/* Rodent Pest Control Page */

.rodent-main {
  position: relative;
  height: 89vh;
  width: 100%;
  margin-top: -3rem;
}

.rodent-main:after {
  content: "";
  background: url("/wallpaper/mousewallpaper.jpg");
  opacity: 0.8;
  top: 0;
  left: 0;
  background-size: cover;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.rodent-main h1 {
  z-index: 1;
  padding-top: 11rem;
  font-size: 3rem !important;
  display: inline-block !important;
  padding-left: 2.5rem;
  line-height: 4rem;
  width: 50%;
}

.rodent-main p {
  padding-left: 2.5rem;
  color: rgb(31, 30, 30);
  padding-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.9;
  width: 40%;
}

.tagline {
  list-style: none;
}

.tagline h3 {
  font-weight: 600;
  font-size: 1.6rem;
  padding-bottom: 0.4rem;
  text-align: left;
  margin-left: 7.3rem;
}

.tagline ul {
  margin-top: 2rem;
}

.tagline li {
  padding-bottom: 0.9rem;
  font-weight: 300;
  text-align: left;
  padding-left: 9rem;
}

.tagline li i {
  color: #3cb371;
}

.tagline p {
  color: black;
  margin-left: 7.3rem;
  line-height: 1.6rem;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 300;
}

.middle-option {
  height: auto;
  width: 100%;
  margin-top: 3rem;
  background-image: linear-gradient(white, #e6e6e6);
}

.middle-option h4 {
  font-weight: 600;
  margin-top: 1rem;

  margin-left: 7.3rem;
  font-size: 1.4rem;
  padding-bottom: 0.4rem;
  text-align: left;
}

.middle-option p {
  color: black;
  margin-left: 7.3rem;
  line-height: 1.6rem;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 300;
}

.middle-option img {
  width: 80%;
  margin-left: 6.3rem;
  margin-top: 2.3rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
}

.rightside h4 {
  margin-left: 6rem;
  margin-top: 1rem;
}

.rightside p {
  margin-left: 6rem;
  padding-right: 3rem;
}

.quoteacross {
  height: 30vh;
  width: 100%;
  background-image: linear-gradient(to right, #00579c, #6495ed);
}

.quoteacross h2 {
  display: inline-block;
  margin-top: 5rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  margin-left: 7.5rem;
  margin-bottom: auto;
}

.quoteacross a {
  display: inline-block;
  align-items: center;
  color: white;
  transition: 1s ease;
  margin-left: 30rem;
}

.quoteacross a:hover {
  opacity: 0.5;
}

.lastpara h3 {
  font-weight: 600;
  font-size: 1.6rem;
  padding-bottom: 0.4rem;
  text-align: left;
  margin-left: 7.3rem;
}

.lastpara p {
  color: black;
  margin-left: 7.3rem;
  line-height: 1.6rem;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 300;
}

.lastpara img {
  width: 80%;
  margin-left: 6.3rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
}

.lastpara h4 {
  font-weight: 600;
  margin-top: 1rem;

  margin-left: 7.3rem;
  font-size: 1.4rem;
  padding-bottom: 0.4rem;
  text-align: left;
}

.ending h4 {
  font-weight: 600;
  margin-top: 1rem;

  margin-left: 7.3rem;
  font-size: 1.4rem;
  padding-bottom: 0.4rem;
  text-align: left;
}

.ending p {
  color: black;
  margin-left: 7.3rem;
  line-height: 1.6rem;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 300;
  margin-right: 5rem;
}

.ending ul {
  list-style-type: circle;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ending li {
  color: black;
  margin-left: 11.3rem;
  line-height: 1.6rem;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 300;
  margin-right: 9rem;
}

.ending p {
  color: black;
  margin-left: 7.3rem;
  line-height: 1.6rem;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 300;
  width: 90%;
}

.ending img {
  width: 80%;
  margin-top: 6rem;
  margin-left: 6.3rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
}

.quoteafinal {
  height: 30vh;
  width: 100%;
  background-image: linear-gradient(to right, #00579c, #6495ed);
}

.quoteafinal h2 {
  display: inline-block;
  margin-top: 5rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  margin-left: 7.5rem;
  margin-bottom: auto;
}

.quoteafinal a {
  display: inline-block;
  align-items: center;
  color: white;
  transition: 1s ease;
  margin-left: 30rem;
}

.quoteafinal a:hover {
  opacity: 0.5;
}

/* Cockroach Pest Control Page */

.cockroach-main {
  position: relative;
  height: 89vh;
  width: 100%;
  margin-top: -3rem;
}

.cockroach-main:after {
  content: "";
  background: url("/wallpaper/cockroachwallpaper.jpg");
  opacity: 0.8;
  top: 0;
  left: 0;
  background-size: cover;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.cockroach-main h1 {
  z-index: 1;
  padding-top: 11rem;
  font-size: 3rem !important;
  display: inline-block !important;
  padding-left: 2.5rem;
  line-height: 4rem;
  width: 50%;
}

.cockroach-main p {
  padding-left: 2.5rem;
  color: rgb(31, 30, 30);
  padding-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.9;
  width: 40%;
}

.tagline {
  list-style: none;
}

.tagline h3 {
  font-weight: 600;
  font-size: 1.6rem;
  padding-bottom: 0.4rem;
  text-align: left;
  margin-left: 7.3rem;
}

.tagline ul {
  margin-top: 2rem;
}

.tagline li {
  padding-bottom: 0.9rem;
  font-weight: 300;
  text-align: left;
  padding-left: 9rem;
}

.tagline li i {
  color: #3cb371;
}

.tagline p {
  color: black;
  margin-left: 7.3rem;
  line-height: 1.6rem;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 300;
}

.middle-option {
  height: auto;
  width: 100%;
  margin-top: 3rem;
  background-image: linear-gradient(white, #e6e6e6);
}

.middle-option h4 {
  font-weight: 600;
  margin-top: 1rem;

  margin-left: 7.3rem;
  font-size: 1.4rem;
  padding-bottom: 0.4rem;
  text-align: left;
}

.middle-option p {
  color: black;
  margin-left: 7.3rem;
  line-height: 1.6rem;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 300;
}

.middle-option img {
  width: 80%;
  margin-left: 6.3rem;
  margin-top: 2.3rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
}

.rightside h4 {
  margin-left: 6rem;
  margin-top: 1rem;
}

.rightside p {
  margin-left: 6rem;
  padding-right: 3rem;
}

.quoteacross {
  height: 30vh;
  width: 100%;
  background-image: linear-gradient(to right, #00579c, #6495ed);
}

.quoteacross h2 {
  display: inline-block;
  margin-top: 5rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  margin-left: 7.5rem;
  margin-bottom: auto;
}

.quoteacross a {
  display: inline-block;
  align-items: center;
  color: white;
  transition: 1s ease;
  margin-left: 30rem;
}

.quoteacross a:hover {
  opacity: 0.5;
}

.lastpara h3 {
  font-weight: 600;
  font-size: 1.6rem;
  padding-bottom: 0.4rem;
  text-align: left;
  margin-left: 7.3rem;
}

.lastpara p {
  color: black;
  margin-left: 7.3rem;
  line-height: 1.6rem;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 300;
}

.lastpara img {
  width: 80%;
  margin-left: 6.3rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
}

.lastpara h4 {
  font-weight: 600;
  margin-top: 1rem;

  margin-left: 7.3rem;
  font-size: 1.4rem;
  padding-bottom: 0.4rem;
  text-align: left;
}

.ending h4 {
  font-weight: 600;
  margin-top: 1rem;

  margin-left: 7.3rem;
  font-size: 1.4rem;
  padding-bottom: 0.4rem;
  text-align: left;
}

.ending p {
  color: black;
  margin-left: 7.3rem;
  line-height: 1.6rem;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 300;
  margin-right: 5rem;
}

.ending ul {
  list-style-type: circle;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ending li {
  color: black;
  margin-left: 11.3rem;
  line-height: 1.6rem;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 300;
  margin-right: 9rem;
}

.ending p {
  color: black;
  margin-left: 7.3rem;
  line-height: 1.6rem;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 300;
  width: 90%;
}

.ending img {
  width: 80%;
  margin-top: 6rem;
  margin-left: 6.3rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
}

.quoteafinal {
  height: 30vh;
  width: 100%;
  background-image: linear-gradient(to right, #00579c, #6495ed);
}

.quoteafinal h2 {
  display: inline-block;
  margin-top: 5rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  margin-left: 7.5rem;
  margin-bottom: auto;
}

.quoteafinal a {
  display: inline-block;
  align-items: center;
  color: white;
  transition: 1s ease;
  margin-left: 30rem;
}

.quoteafinal a:hover {
  opacity: 0.5;
}

/* Termite Pest Control Page */

.termite-main {
  position: relative;
  height: 89vh;
  width: 100%;
  margin-top: -3rem;
}

.termite-main:after {
  content: "";
  background: url("/wallpaper/termitewallpaper.jpg");
  opacity: 0.8;
  top: 0;
  left: 0;
  background-size: cover;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.termite-main h1 {
  z-index: 1;
  padding-top: 11rem;
  font-size: 3rem !important;
  display: inline-block !important;
  padding-left: 2.5rem;
  line-height: 4rem;
  width: 50%;
}

.termite-main p {
  padding-left: 2.5rem;
  color: rgb(31, 30, 30);
  padding-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.9;
  width: 40%;
}

/* bedbug Pest Control Page */

.bedbug-main {
  position: relative;
  height: 89vh;
  width: 100%;
  margin-top: -3rem;
}

.bedbug-main:after {
  content: "";
  background: url("/wallpaper/bedbugwallpaper.jpg");
  opacity: 0.8;
  top: 0;
  left: 0;
  background-size: cover;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.bedbug-main h1 {
  z-index: 1;
  padding-top: 11rem;
  font-size: 3rem !important;
  display: inline-block !important;
  padding-left: 2.5rem;
  line-height: 4rem;
  width: 50%;
}

.bedbug-main p {
  padding-left: 2.5rem;
  color: rgb(31, 30, 30);
  padding-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.9;
  width: 40%;
}

/* mosquito Pest Control Page */

.mosquito-main {
  position: relative;
  height: 89vh;
  width: 100%;
  margin-top: -3rem;
}

.mosquito-main:after {
  content: "";
  background: url("/wallpaper/mosquitowallpaper.jpg");
  opacity: 0.8;
  top: 0;
  left: 0;
  background-size: cover;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.mosquito-main h1 {
  z-index: 1;
  padding-top: 11rem;
  font-size: 3rem !important;
  display: inline-block !important;
  padding-left: 2.5rem;
  line-height: 4rem;
  width: 50%;
}

.mosquito-main p {
  padding-left: 2.5rem;
  color: rgb(31, 30, 30);
  padding-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.9;
  width: 40%;
}

/* other Pest Control Page */

.other-main {
  position: relative;
  height: 89vh;
  width: 100%;
  margin-top: -3rem;
}

.other-main:after {
  content: "";
  background: url("/wallpaper/otherwallpaper.jpg");
  opacity: 0.8;
  top: 0;
  left: 0;
  background-size: cover;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.other-main h1 {
  z-index: 1;
  padding-top: 11rem;
  font-size: 3rem !important;
  display: inline-block !important;
  padding-left: 2.5rem;
  line-height: 4rem;
  width: 50%;
}

.other-main p {
  padding-left: 2.5rem;
  color: rgb(31, 30, 30);
  padding-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.9;
  width: 40%;
}

/* residential Pest Control Page */

.residential-main {
  position: relative;
  height: 89vh;
  width: 100%;
  margin-top: -3rem;
}

.residential-main:after {
  content: "";
  background: url("/wallpaper/residentialbackground.jpg");
  opacity: 0.8;
  top: 0;
  left: 0;
  background-size: cover;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.residential-main h1 {
  z-index: 1;
  padding-top: 11rem;
  font-size: 3rem !important;
  display: inline-block !important;
  padding-left: 2.5rem;
  line-height: 4rem;
  width: 50%;
}

.residential-main p {
  padding-left: 2.5rem;
  color: rgb(31, 30, 30);
  padding-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.9;
  width: 40%;
}

/* commercial Pest Control Page */

.commercial-main {
  position: relative;
  height: 89vh;
  width: 100%;
  margin-top: -3rem;
}

.commercial-main:after {
  content: "";
  background: url("/wallpaper/commercialbackground.jpg");
  opacity: 0.8;
  top: 0;
  left: 0;
  background-size: cover;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.commercial-main h1 {
  z-index: 1;
  padding-top: 11rem;
  font-size: 3rem !important;
  display: inline-block !important;
  padding-left: 2.5rem;
  line-height: 4rem;
  width: 50%;
}

.commercial-main p {
  padding-left: 2.5rem;
  color: rgb(31, 30, 30);
  padding-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.9;
  width: 40%;
}

/* about us page */

.about-main {
  position: relative;
  height: 70vh;
  width: 100%;
  margin-top: -3rem;
}

.about-main:after {
  content: "";
  background: url("/wallpaper/opacitybg.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  background-size: cover;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.about-main h1 {
  z-index: 1;
  padding-top: 8rem;
  font-size: 3rem !important;
  display: inline-block !important;
  line-height: 4rem;
  width: 50%;
  align-items: center;
}

.about-main p {
  color: rgb(31, 30, 30);
  padding-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.9;
}

.middle-option h6 {
  font-size: 1rem;
  padding-top: 1rem;
  font-weight: 600;
}

.middle-option p {
  font-weight: 300;
  font-size: 0.9rem;
}

.middle-option h5 {
  font-size: 2rem;
}

.middle-option hr {
  border: 0;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 10%;
  color: grey;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.99),
    rgba(0, 0, 0, 0)
  );
}

/* contact us page */

.contactus {
  display: flex;
}

.contactus:after {
  content: "";
  background: url("/wallpaper/londonsite.jpg");
  opacity: 0.4;
  height: 140vh;
  top: 0;
  left: 0;
  background-size: cover;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.leftpanel {
  flex: 1;
}

.leftpanel h1 {
  font-size: 3rem;
  margin-left: 4rem;
  margin-top: 4rem;
}

.leftpanel p {
  margin-left: 4rem;
  margin-bottom: 2rem;
}

.rightpanel {
  flex: 2;
}

.contact-form {
  margin-top: 2rem;
  margin-left: 9rem;
}

.contact-form button:hover {
  opacity: 0.7;
}

.contact-form label {
  font-size: 1rem;
  margin-bottom: 10rem;
  margin-left: 2rem;
}

::placeholder {
  color: gray;
  padding: 1rem;
}

.formname {
  margin-left: 2rem;
  width: 80%;
  height: 3rem;
  border-radius: 0.2rem;
  border: 1px solid grey;
  background-color: #f8f8f8;
}

.email {
  margin-left: 2rem;
  width: 80%;
  height: 3rem;
  border-radius: 0.2rem;
  border: 1px solid grey;
  background-color: #f8f8f8;
}

.company-name {
  margin-left: 2rem;
  width: 80%;
  height: 3rem;
  border-radius: 0.2rem;
  background-color: #f8f8f8;
  border: 1px solid grey;
}

.contact-tel {
  margin-left: 2rem;
  width: 80%;
  height: 3rem;
  border-radius: 0.2rem;
  border: 1px solid grey;
  background-color: #f8f8f8;
}

.message {
  margin-left: 2rem;
  width: 80%;
  height: 10rem;
  border-radius: 0.2rem;
  border: 1px solid grey;
  background-color: #f8f8f8;
  resize: none;
}

/* services page */

.btnlistservices {
  margin-top: 2rem;
  margin-left: 0rem;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .cardlistleft {
    margin-left: 1.3rem !important;
    width: 80% !important;
  }

  .servicesend {
    text-align: left !important;
    margin-left: -2.5rem !important;
    margin-top: -1.5rem !important;
    width: 80% !important;
  }
  .btnlistservices {
    margin-left: -17.5rem !important;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  .rodent-main h1 {
    font-size: 3rem !important;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  body {
    overflow-x: hidden;
  }

  .rodent-main h1 {
    font-size: 2.5rem !important;
    line-height: 3rem;
    padding-top: 11rem;
  }

  .cockroach-main h1 {
    font-size: 2.5rem !important;
    line-height: 3rem;
    padding-top: 11rem;
  }

  .middle-option {
    background-image: none;
  }

  .middle-option img {
    margin-top: 5rem;
  }
  .rightside img {
    display: none;
  }

  .quoteacross {
    height: 30vh;
    width: 100%;
    margin-top: 5rem;
    background-image: linear-gradient(to right, #00579c, #6495ed);
  }

  .quoteacross h2 {
    font-size: 1.5rem;
  }

  .quoteacross a {
    margin-left: 10rem;
  }

  .quoteafinal {
    height: 30vh;
    width: 100%;
    margin-top: 5rem;
    background-image: linear-gradient(to right, #00579c, #6495ed);
  }

  .quoteafinal h2 {
    font-size: 1.5rem;
  }

  .quoteafinal a {
    margin-left: 10rem;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  .badges {
    display: none;
  }

  .leftpanel h1 {
    font-size: 2.4rem;
    margin-left: 1rem;
    margin-top: 4rem;
  }

  .leftpanel p {
    margin-left: 1rem;
    width: 80%;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  .contactus:after {
    height: 120vh;
  }

  .contact-form {
    margin-top: 4rem;
    margin-left: 1rem;
  }
  .commercial-main h1 {
    font-size: 2rem !important;
    line-height: 2rem;
    padding-top: 9rem;
    width: 80%;
    margin-top: 2rem;
  }
  .commercial-main p {
    padding-left: 2.5rem;
    color: rgb(31, 30, 30);
    padding-top: 1rem;
    font-size: 0.9rem;
    opacity: 0.9;
    width: 80%;
  }

  .residential-main h1 {
    font-size: 2rem !important;
    line-height: 2rem;
    padding-top: 9rem;
    width: 80%;
    margin-top: 2rem;
  }
  .residential-main p {
    padding-left: 2.5rem;
    color: rgb(31, 30, 30);
    padding-top: 1rem;
    font-size: 0.9rem;
    opacity: 0.9;
    width: 80%;
  }

  .other-main h1 {
    font-size: 2rem !important;
    line-height: 2rem;
    padding-top: 9rem;
    width: 80%;
    margin-top: 2rem;
  }
  .other-main p {
    padding-left: 2.5rem;
    color: rgb(31, 30, 30);
    padding-top: 1rem;
    font-size: 0.9rem;
    opacity: 0.9;
    width: 80%;
  }

  .mosquito-main h1 {
    font-size: 2rem !important;
    line-height: 2rem;
    padding-top: 9rem;
    width: 80%;
    margin-top: 2rem;
  }
  .mosquito-main p {
    padding-left: 2.5rem;
    color: rgb(31, 30, 30);
    padding-top: 1rem;
    font-size: 0.9rem;
    opacity: 0.9;
    width: 80%;
  }

  .bedbug-main h1 {
    font-size: 2rem !important;
    line-height: 2rem;
    padding-top: 9rem;
    width: 80%;
    margin-top: 2rem;
  }
  .bedbug-main p {
    padding-left: 2.5rem;
    color: rgb(31, 30, 30);
    padding-top: 1rem;
    font-size: 0.9rem;
    opacity: 0.9;
    width: 80%;
  }
  .termite-main h1 {
    font-size: 2rem !important;
    line-height: 2rem;
    padding-top: 9rem;
    width: 80%;
    margin-top: 2rem;
  }
  .termite-main p {
    padding-left: 2.5rem;
    color: rgb(31, 30, 30);
    padding-top: 1rem;
    font-size: 0.9rem;
    opacity: 0.9;
    width: 80%;
  }

  .rodent-main h1 {
    font-size: 2rem !important;
    line-height: 2rem;
    padding-top: 9rem;
    width: 80%;
    margin-top: 2rem;
  }
  .rodent-main p {
    padding-left: 2.5rem;
    color: rgb(31, 30, 30);
    padding-top: 1rem;
    font-size: 0.9rem;
    opacity: 0.9;
    width: 80%;
  }

  .cockroach-main h1 {
    font-size: 2rem !important;
    line-height: 2rem;
    padding-top: 9rem;
    width: 80%;
    margin-top: 2rem;
  }
  .cockroach-main p {
    padding-left: 2.5rem;
    color: rgb(31, 30, 30);
    padding-top: 1rem;
    font-size: 0.9rem;
    opacity: 0.9;
    width: 80%;
  }

  .flex-grid {
    display: block;
  }

  .tagline {
    max-width: 100%;
  }

  .tagline h3 {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .tagline p {
    padding-right: 1rem;
    margin-left: 1rem;
  }

  .tagline ul {
    width: 100%;
  }

  .tagline li {
    margin-left: -7rem;
  }

  .lastpara p {
    margin-left: 1rem;
    padding-right: 1rem;
  }

  .lastpara h3 {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .lastpara h4 {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .middle-option p {
    margin-left: 1rem;
    padding-right: 1rem;
  }

  .middle-option h4 {
    margin-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }

  .ending p {
    margin-left: 1rem;
    padding-right: 1rem;
  }

  .ending li {
    margin-left: 2rem;
  }

  .ending h4 {
    margin-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }

  .ending img {
    width: 100%;
    padding: 1rem;
    display: none;
    margin-left: 0rem;
  }

  .lastpara img {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 0rem;
  }

  .middle-option img {
    width: 100%;
    padding: 1rem;
    display: none;
    margin-left: 0rem;
  }
  .rightside img {
    display: inline;
  }

  .quoteacross {
    height: 35vh;
    width: 100%;
    margin-top: 7rem;
    background-image: linear-gradient(to right, #00579c, #6495ed);
  }

  .quoteacross h2 {
    margin-left: 1rem;
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .quoteacross a {
    margin-left: 0;
    display: none;
    font-size: 0.8rem;
  }

  .quoteafinal {
    height: 40vh;
    width: 100%;
    margin-top: 2rem;
    background-image: linear-gradient(to right, #00579c, #6495ed);
  }

  .quoteafinal h2 {
    margin-left: 1rem;
  }

  .quoteafinal a {
    margin-left: 1rem;
  }

  .middle-option .wrapper {
    width: 100%;
    margin-left: -3rem;
  }

  .middle-option {
    background-image: none;
  }

  .contactus {
    flex-direction: column;
  }
}
